.input-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    /* background: blue; */
    margin-left: 100px;
    /* overflow: hidden; */
    /* text-align: center; */
}

.post-container{
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
